form {
  min-height: 40vh;
  overflow-y: auto;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.error-div {
  padding: 15px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  font-weight: bold;
}

.drop-list {
  border: 1px dashed #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.field-container {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 20px;
  transition: width 0.3s ease;
  cursor: move;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.field-container:hover {
  border-color: #007bff;
}

.form-check{
  margin-right: 10px;
  width: 1.2rem;
  height: 1.2rem; 
}


.field-container label {
  font-weight: bold;
  margin-bottom: 10px;
  min-width: 12vw;
}

.field-container input,
.field-container select,
.field-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 14px;
}

.field-container input:focus,
.field-container select:focus,
.field-container textarea:focus {
  border-color: #007bff;
  outline: none;
}

.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

// .form-check-input {
//   margin-right: 10px;
//   width: 1.2rem;
//   height: 1.2rem;
// }

.form-check-label {
  font-size: 14px;
}


.resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  width: 8px;
  height: 100%;
  cursor: ew-resize;
  z-index: 10;
}


mat-error {
  font-size: 12px;
  color: #f44336;
}

::ng-deep .snackbar-success {
  background-color: #d4edda !important;
  color: green !important;
  font-weight: bold;
}

::ng-deep .snackbar-error {
  background-color: #f8d7da !important;
  color: red !important;
  font-weight: bold;
}
