<form #form="ngForm" (ngSubmit)="onSubmit(form)" class="p-4">
  <div *ngIf="fields.length === 0" class="text-center text-danger mb-4">
    No fields available. Please add fields to the form.
  </div>

  <div *ngIf="fields.length > 0" class="drop-list" cdkDropList (cdkDropListDropped)="onDragDrop($event)">
    <div *ngFor="let field of fields; let i = index" class="field-container mb-4 p-3 border rounded shadow-sm bg-light"
      cdkDrag mwlResizable [enableGhostResize]="true" (resizeEnd)="resizeField(field, $event)"
      [style.width]="field.width || '100%'">
      <div mwlResizeHandle [resizeEdges]="{ right: true, bottom: true }" class="resize-handle"></div>

      <label [for]="field.name" class="form-label mb-2">{{ field.label }}</label>

      <!-- Text -->

      <!-- [type]="field.validations?.dataType || 'text'" -->

      
      <div *ngIf="field.type === 'text'">
        <mat-form-field appearance="outline" class="w-100">

          <input matInput [id]="field.name" [name]="field.name" 
            [placeholder]="field.placeholder || ''" ngModel #fieldCtrl="ngModel"
            [required]="field.validations?.required" [minlength]="field.validations?.minLength"
            [maxlength]="field.validations?.maxLength" />
          <mat-error *ngIf="fieldCtrl?.invalid && fieldCtrl?.touched">
            <span *ngIf="fieldCtrl.errors?.['required']">{{ field.label }} is required.</span>
            <span *ngIf="fieldCtrl.errors?.['minlength']">
              Minimum length is {{ field.validations?.minLength }}.
            </span>
            <span *ngIf="fieldCtrl.errors?.['maxlength']">
              Maximum length is {{ field.validations?.maxLength }}.
            </span>
          </mat-error>
        </mat-form-field>
      </div>


      <!-- Textarea  -->

      <div *ngIf="field.type === 'textarea'">
        <mat-form-field appearance="outline" class="w-100">

          <textarea matInput [id]="field.name" [name]="field.name" [placeholder]="field.placeholder || ''" rows="3"
            ngModel #fieldCtrl="ngModel" [required]="field.validations?.required"
            [minlength]="field.validations?.minLength" [maxlength]="field.validations?.maxLength"></textarea>

          <mat-error *ngIf="fieldCtrl?.invalid && fieldCtrl?.touched">
            <span *ngIf="fieldCtrl.errors?.['required']">{{ field.label }} is required.</span>
            <span *ngIf="fieldCtrl.errors?.['minlength']">
              Minimum length is {{ field.validations?.minLength }}.
            </span>
            <span *ngIf="fieldCtrl.errors?.['maxlength']">
              Maximum length is {{ field.validations?.maxLength }}.
            </span>
          </mat-error>
        </mat-form-field>
      </div>



      <!-- Select Dropdown -->
      <div *ngIf="field.type === 'select'" class="mt-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [id]="field.name" [name]="field.name" ngModel #fieldCtrl="ngModel"
            [required]="field.validations?.required">
            <mat-option *ngFor="let option of field.options" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="fieldCtrl?.invalid && fieldCtrl?.touched">
            <span *ngIf="fieldCtrl.errors?.['required']">{{ field.label }} is required.</span>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Checkbox -->
      <div *ngIf="field.type === 'checkbox'" class="mt-3">
        <div *ngFor="let option of field.options" class="form-check mb-1 ps-3">
          <input type="checkbox" class="form-check-input me-2" [id]="field.name + '_' + option"
            [name]="field.name + '_' + option" [value]="option" [(ngModel)]="checkboxModel[field.name][option]" />
          <label class="form-check-label" [for]="field.name + '_' + option">
            {{ option }}
          </label>
        </div>
      </div>

      
      <!-- Radio -->
      <div *ngIf="field.type === 'radio'" class="mt-3">
        <div class="form-check mb-1 ps-3" *ngFor="let option of field.options">
          <input type="radio" class="form-check-input me-2" [id]="field.name + '_' + option" [name]="field.name"
            [value]="option" ngModel #fieldCtrl="ngModel" [required]="field.validations?.required" />
          <label class="form-check-label" [for]="field.name + '_' + option">{{ option }}</label>
        </div>
      </div>
    </div>
  </div>

  <!-- Submit and Clear Buttons -->
  <div class="row">
    <div class="col-12 mb-2">
      <button type="submit" mat-raised-button color="primary" class="w-100 py-2" [disabled]="form.invalid">
        Submit
      </button>
    </div>
    <div class="col-12">
      <button type="button" mat-raised-button color="warn" class="w-100 py-2" (click)="clearFormData()">
        Clear
      </button>
    </div>
  </div>
</form>