<form #form="ngForm" (ngSubmit)="onSubmit(form)" class="p-3">
  <div *ngIf="fields.length === 0" class="error-div text-center text-danger mb-3">
    No fields available. Please add fields to the form.
  </div>
  <div *ngIf="fields.length > 0" class="drop-list" cdkDropList (cdkDropListDropped)="onDragDrop($event)">
    <div
      *ngFor="let field of fields; let i = index"
      class="field-container mb-3"
      cdkDrag
    >
      <div class="row">
        <!-- Label -->
        <label [for]="field.name" class="form-label col-12">{{ field.label }}</label>
        <!-- Text and Textarea Fields -->
        <div class="col-12">
          <mat-form-field *ngIf="field.type === 'text' || field.type === 'textarea'" appearance="outline" class="w-100">
            <input
              matInput
              [id]="field.name"
              [name]="field.name"
              [type]="field.validations?.dataType || 'text'"
              [placeholder]="field.placeholder || ''"
              ngModel
              #fieldCtrl="ngModel"
              [required]="field.validations?.required"
              [minlength]="field.validations?.minLength"
              [maxlength]="field.validations?.maxLength"
            />
            <mat-error *ngIf="fieldCtrl?.invalid && fieldCtrl?.touched">
              <span *ngIf="fieldCtrl.errors?.['required']">{{ field.label }} is required.</span>
              <span *ngIf="fieldCtrl.errors?.['minlength']">Minimum length is {{ field.validations?.minLength }}.</span>
              <span *ngIf="fieldCtrl.errors?.['maxlength']">Maximum length is {{ field.validations?.maxLength }}.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Dropdown Field -->
        <div class="col-12">
          <mat-form-field *ngIf="field.type === 'select'" appearance="outline" class="w-100">
            <mat-select
              [id]="field.name"
              [name]="field.name"
              ngModel
              #fieldCtrl="ngModel"
              [required]="field.validations?.required"
            >
              <mat-option *ngFor="let option of field.options" [value]="option">{{ option }}</mat-option>
            </mat-select>
            <mat-error *ngIf="fieldCtrl?.invalid && fieldCtrl?.touched">
              <span *ngIf="fieldCtrl.errors?.['required']">{{ field.label }} is required.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Checkbox Field -->
        <div class="col-12">
          <div *ngIf="field.type === 'checkbox'" class="form-check d-flex align-items-center">
            <input
              type="checkbox"
              class="form-check-input me-2"
              [id]="field.name"
              [name]="field.name"
              ngModel
              #fieldCtrl="ngModel"
              [required]="field.validations?.required"
            />
            <label class="form-check-label" [for]="field.name">{{ field.label }}</label>
            <mat-error *ngIf="fieldCtrl?.invalid && fieldCtrl?.touched" class="ms-2">
              <span *ngIf="fieldCtrl.errors?.['required']">{{ field.label }} is required.</span>
            </mat-error>
          </div>
        </div>
        <!-- Radio Button Field -->
        <div class="col-12">
          <div *ngIf="field.type === 'radio'" class="form-check">
            <div *ngFor="let option of field.options" class="form-check d-flex align-items-center mb-2">
              <input
                type="radio"
                class="form-check-input me-2"
                [id]="field.name + '_' + option"
                [name]="field.name"
                [value]="option"
                ngModel
                #fieldCtrl="ngModel"
                [required]="field.validations?.required"
              />
              <label class="form-check-label" [for]="field.name + '_' + option">{{ option }}</label>
              <mat-error *ngIf="fieldCtrl?.invalid && fieldCtrl?.touched" class="ms-2">
                <span *ngIf="fieldCtrl.errors?.['required']">{{ field.label }} is required.</span>
              </mat-error>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="w-100 mt-3"
        [disabled]="form.invalid"
      >
        Submit
      </button>
    </div>
    <div class="col-12">
      <button
        type="button"
        mat-raised-button
        color="warn"
        class="w-100 mt-2"
        (click)="clearFormData()"
      >
        Clear
      </button>
    </div>
  </div>
</form>
